<div id="venus-48861"></div>
<script type="text/javascript">
var venus48861 = { blockId: "48861", async: true };
(function (w, d, o, t) {
o.send = function () {
(o.queue = o.queue || []).push(arguments);
};
var s = d.createElement(t);
if (o.async) s.async = 1;
s.src = "http://dev-block.mediavenus.biz/rotator/48861.js?isDebug=52bbb4fcc926b0c26e4268b80fd41361";
var i = d.getElementsByTagName(t)[0];
i.parentNode.insertBefore(s, i);
o.send("pageview");
})(window, document, venus48861, "script");
</script>





<div id="venus-48867"></div>
<script type="text/javascript">
var venus48867 = { blockId: "48867", async: true };
(function (w, d, o, t) {
o.send = function () {
(o.queue = o.queue || []).push(arguments);
};
var s = d.createElement(t);
if (o.async) s.async = 1;
s.src = "http://dev-block.mediavenus.biz/rotator/48867.js";
var i = d.getElementsByTagName(t)[0];
i.parentNode.insertBefore(s, i);
o.send("pageview");
})(window, document, venus48867, "script");
</script>